.subtitle {
    font-family: 'Raleway', sans-serif;
}

#today {
    font-family: 'Raleway', sans-serif;
}

.search {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-family: 'Raleway', sans-serif;
}

.box {
    box-shadow: 10px 10px 40px rgb(151, 151, 151);
}